# **Predicting Passenger Survivor**
****

**Table content**
* **About Data**
* **Import Libraries**
* **load Datasets**
* **Explorer Datasets**
* **Data Split**
* **Data Cleaning**
* **Data Visualization**
* **Choose Model**
* **Fit Models**
* **Evaluate Model**
* **Fine The Model**

## **About Data**
RMS Titanic was a British passenger liner, operated by the White Star Line, which sank in the North Atlantic Ocean on 15 April 1912 after striking an iceberg. for more info click <a href='https://en.wikipedia.org/wiki/Titanic' style='text-decoration:none'>here</a>

<pre style="font-family: 'Brush Script MT', cursive, serif;">
<h3 style='font-size: 12'>Defination Of Feature Columns</h3>
<b>Survived:</b> Passager Survived 
0 = No 
1 = Yes
<b>Embarked:</b> Port of Embarkation 
C = Cherbourg
Q = Queenstown
S = Southampton
<b>Pclass:</b> ticket class
A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower
<b>Sex:</b> passenger sex
<b>Age:</b> Age in years
Age is fractional if less than 1. 
If the age is estimated, is it in the form of xx.5
<b>Sibsp:</b> of siblings / spouses aboard the Titanic
The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fiancés were ignored)
<b>Parch:</b> of parents / children aboard the Titanic.
The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.
<b>Ticket:</b> ticket number
<b>Fare:</b> fare paid for a ticket
<b>cabin:</b> Cabin number
</pre>

## **Import Libraries**

In [4]:
library(tidyverse)
library(tidymodels)
library(mice)
library(ggthemes)
library(corrplot)
library(Hmisc)

## **Load Datasets**

In [5]:
load_data <- function(train_path, test_path) {
    # Instantiate the train dataframe
    train_df <- readr::read_csv(train_path)

    # Instantiate the test dataframe
    test_df <- readr::read_csv(test_path)

    return(list(train = train_df, test = test_df))
}

In [6]:
# Initialize the data path
train_path <- "../datasets/train.csv"
test_path <- "../datasets/test.csv"

# Assign datasets to vector of dataframe
datasets <- load_data(train_path, test_path)

# Instantiate train and test dataframe
train_df <- datasets$train
test_df <- datasets$test

Rows: 891 Columns: 12
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (7): PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 418 Columns: 11
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Name, Sex, Ticket, Cabin, Embarked
dbl (6): PassengerId, Pclass, Age, SibSp, Parch, Fare

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## **Explorer Datasets**

### **Train And Test Dataframe**

#### **Train**

In [7]:
# Check out the first six row in train data frame
head(train_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500 NA    S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250 NA    S
4 113803           53.1000 C123  S
5 373450            8.0500 NA    S
6 330877            8.4583 NA    Q

#### **Test**

In [8]:
# And First six rows in test dataframe
head(test_df)

  PassengerId Pclass Name                                         Sex    Age
1 892         3      Kelly, Mr. James                             male   34.5
2 893         3      Wilkes, Mrs. James (Ellen Needs)             female 47.0
3 894         2      Myles, Mr. Thomas Francis                    male   62.0
4 895         3      Wirz, Mr. Albert                             male   27.0
5 896         3      Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6 897         3      Svensson, Mr. Johan Cervin                   male   14.0
  SibSp Parch Ticket  Fare    Cabin Embarked
1 0     0     330911   7.8292 NA    Q
2 1     0     363272   7.0000 NA    S
3 0     0     240276   9.6875 NA    Q
4 0     0     315154   8.6625 NA    S
5 1     1     3101298 12.2875 NA    S
6 0     0     7538     9.2250 NA    S

### **Structure Of The Dataframe**

#### **Train**

In [9]:
# View train data information
str(train_df)

spec_tbl_df [891 × 12] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ PassengerId: num [1:891] 1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : num [1:891] 0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : num [1:891] 3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr [1:891] "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr [1:891] "male" "female" "female" "female" ...
 $ Age        : num [1:891] 22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : num [1:891] 1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : num [1:891] 0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr [1:891] "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num [1:891] 7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr [1:891] NA "C85" NA "C123" ...
 $ Embarked   : chr [1:891] "S" "C" "S" "S" ...
 - attr(*, "spec")=
  .. cols(
  ..   PassengerId = col_double(),
  ..   Survived = col_double(),
  ..   Pclass = col_double(),
  ..   Name = col_character(),
  ..   Sex = col_character(),
  ..   Age = col_double(),
  ..   SibSp = col_double(),
  ..   Parch = col_double(),
  ..   Ticket = col_character(),
  ..   Fare = col_double(),
  ..   Cabin = col_character(),
  ..   Embarked = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

#### **Test**

In [10]:
# View train data information
str(test_df)

spec_tbl_df [418 × 11] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ PassengerId: num [1:418] 892 893 894 895 896 897 898 899 900 901 ...
 $ Pclass     : num [1:418] 3 3 2 3 3 3 3 2 3 3 ...
 $ Name       : chr [1:418] "Kelly, Mr. James" "Wilkes, Mrs. James (Ellen Needs)" "Myles, Mr. Thomas Francis" "Wirz, Mr. Albert" ...
 $ Sex        : chr [1:418] "male" "female" "male" "male" ...
 $ Age        : num [1:418] 34.5 47 62 27 22 14 30 26 18 21 ...
 $ SibSp      : num [1:418] 0 1 0 0 1 0 0 1 0 2 ...
 $ Parch      : num [1:418] 0 0 0 0 1 0 0 1 0 0 ...
 $ Ticket     : chr [1:418] "330911" "363272" "240276" "315154" ...
 $ Fare       : num [1:418] 7.83 7 9.69 8.66 12.29 ...
 $ Cabin      : chr [1:418] NA NA NA NA ...
 $ Embarked   : chr [1:418] "Q" "S" "Q" "S" ...
 - attr(*, "spec")=
  .. cols(
  ..   PassengerId = col_double(),
  ..   Pclass = col_double(),
  ..   Name = col_character(),
  ..   Sex = col_character(),
  ..   Age = col_double(),
  ..   SibSp = col_double(),
  ..   Parch = col_double(),
  ..   Ticket = col_character(),
  ..   Fare = col_double(),
  ..   Cabin = col_character(),
  ..   Embarked = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

### **Data Description**

In [11]:
describe(train_df)

train_df

 12  Variables      891  Observations
--------------------------------------------------------------------------------
PassengerId
       n  missing distinct     Info     Mean      Gmd      .05      .10
     891        0      891        1      446    297.3     45.5     90.0
     .25      .50      .75      .90      .95
   223.5    446.0    668.5    802.0    846.5

lowest :   1   2   3   4   5, highest: 887 888 889 890 891
--------------------------------------------------------------------------------
Survived
       n  missing distinct     Info      Sum     Mean      Gmd
     891        0        2     0.71      342   0.3838   0.4735

--------------------------------------------------------------------------------
Pclass
       n  missing distinct     Info     Mean      Gmd
     891        0        3     0.81    2.309   0.8631

Value          1     2     3
Frequency    216   184   491
Proportion 0.242 0.207 0.551
--------------------------------------------------------------------------------
Name
       n  missing distinct
     891        0      891

lowest : Abbing, Mr. Anthony                    Abbott, Mr. Rossmore Edward            Abbott, Mrs. Stanton (Rosa Hunt)       Abelson, Mr. Samuel                    Abelson, Mrs. Samuel (Hannah Wizosky)
highest: Yousseff, Mr. Gerious                  Yrois, Miss. Henriette ("Mrs Harbeck") Zabour, Miss. Hileni                   Zabour, Miss. Thamine                  Zimmerman, Mr. Leo
--------------------------------------------------------------------------------
Sex
       n  missing distinct
     891        0        2

Value      female   male
Frequency     314    577
Proportion  0.352  0.648
--------------------------------------------------------------------------------
Age
       n  missing distinct     Info     Mean      Gmd      .05      .10
     714      177       88    0.999     29.7    16.21     4.00    14.00
     .25      .50      .75      .90      .95
   20.12    28.00    38.00    50.00    56.00

lowest :  0.42  0.67  0.75  0.83  0.92, highest: 70.00 70.50 71.00 74.00 80.00
--------------------------------------------------------------------------------
SibSp
       n  missing distinct     Info     Mean      Gmd
     891        0        7    0.669    0.523    0.823

lowest : 0 1 2 3 4, highest: 2 3 4 5 8

Value          0     1     2     3     4     5     8
Frequency    608   209    28    16    18     5     7
Proportion 0.682 0.235 0.031 0.018 0.020 0.006 0.008
--------------------------------------------------------------------------------
Parch
       n  missing distinct     Info     Mean      Gmd
     891        0        7    0.556   0.3816   0.6259

lowest : 0 1 2 3 4, highest: 2 3 4 5 6

Value          0     1     2     3     4     5     6
Frequency    678   118    80     5     4     5     1
Proportion 0.761 0.132 0.090 0.006 0.004 0.006 0.001
--------------------------------------------------------------------------------
Ticket
       n  missing distinct
     891        0      681

lowest : 110152      110413      110465      110564      110813
highest: W./C. 6608  W./C. 6609  W.E.P. 5734 W/C 14208   WE/P 5735
--------------------------------------------------------------------------------
Fare
       n  missing distinct     Info     Mean      Gmd      .05      .10
     891        0      248        1     32.2    36.78    7.225    7.550
     .25      .50      .75      .90      .95
   7.910   14.454   31.000   77.958  112.079

lowest :   0.0000   4.0125   5.0000   6.2375   6.4375
highest: 227.5250 247.5208 262.3750 263.0000 512.3292
--------------------------------------------------------------------------------
Cabin
       n  missing distinct
     204      687      147

lowest : A10 A14 A16 A19 A20, highest: F33 F38 F4  G6  T
--------------------------------------------------------------------------------
Embarked
       n  missing distinct
     889        2        3

Value          C     Q     S
Frequency    168    77   644
Proportion 0.189 0.087 0.724
--------------------------------------------------------------------------------

In [12]:
describe(test_df)

test_df

 11  Variables      418  Observations
--------------------------------------------------------------------------------
PassengerId
       n  missing distinct     Info     Mean      Gmd      .05      .10
     418        0      418        1     1100    139.7    912.9    933.7
     .25      .50      .75      .90      .95
   996.2   1100.5   1204.8   1267.3   1288.2

lowest :  892  893  894  895  896, highest: 1305 1306 1307 1308 1309
--------------------------------------------------------------------------------
Pclass
       n  missing distinct     Info     Mean      Gmd
     418        0        3     0.83    2.266   0.8821

Value          1     2     3
Frequency    107    93   218
Proportion 0.256 0.222 0.522
--------------------------------------------------------------------------------
Name
       n  missing distinct
     418        0      418

lowest : Abbott, Master. Eugene Joseph             Abelseth, Miss. Karen Marie               Abelseth, Mr. Olaus Jorgensen             Abrahamsson, Mr. Abraham August Johannes  Abrahim, Mrs. Joseph (Sophie Halaut Easu)
highest: Wirz, Mr. Albert                          Wittevrongel, Mr. Camille                 Wright, Miss. Marion                      Zakarian, Mr. Mapriededer                 Zakarian, Mr. Ortin
--------------------------------------------------------------------------------
Sex
       n  missing distinct
     418        0        2

Value      female   male
Frequency     152    266
Proportion  0.364  0.636
--------------------------------------------------------------------------------
Age
       n  missing distinct     Info     Mean      Gmd      .05      .10
     332       86       79    0.999    30.27    15.77      8.0     16.1
     .25      .50      .75      .90      .95
    21.0     27.0     39.0     50.0     57.0

lowest :  0.17  0.33  0.75  0.83  0.92, highest: 62.00 63.00 64.00 67.00 76.00
--------------------------------------------------------------------------------
SibSp
       n  missing distinct     Info     Mean      Gmd
     418        0        7    0.671   0.4474   0.6784

lowest : 0 1 2 3 4, highest: 2 3 4 5 8

Value          0     1     2     3     4     5     8
Frequency    283   110    14     4     4     1     2
Proportion 0.677 0.263 0.033 0.010 0.010 0.002 0.005
--------------------------------------------------------------------------------
Parch
       n  missing distinct     Info     Mean      Gmd
     418        0        8    0.532   0.3923   0.6632

lowest : 0 1 2 3 4, highest: 3 4 5 6 9

Value          0     1     2     3     4     5     6     9
Frequency    324    52    33     3     2     1     1     2
Proportion 0.775 0.124 0.079 0.007 0.005 0.002 0.002 0.005
--------------------------------------------------------------------------------
Ticket
       n  missing distinct
     418        0      363

lowest : 110469      110489      110813      111163      112051
highest: W./C. 14260 W./C. 14266 W./C. 6607  W./C. 6608  W.E.P. 5734
--------------------------------------------------------------------------------
Fare
       n  missing distinct     Info     Mean      Gmd      .05      .10
     417        1      169        1    35.63    42.52    7.229    7.642
     .25      .50      .75      .90      .95
   7.896   14.454   31.500   79.200  151.550

lowest :   0.0000   3.1708   6.4375   6.4958   6.9500
highest: 227.5250 247.5208 262.3750 263.0000 512.3292
--------------------------------------------------------------------------------
Cabin
       n  missing distinct
      91      327       76

lowest : A11   A18   A21   A29   A34  , highest: F G63 F2    F33   F4    G6
--------------------------------------------------------------------------------
Embarked
       n  missing distinct
     418        0        3

Value          C     Q     S
Frequency    102    46   270
Proportion 0.244 0.110 0.646
--------------------------------------------------------------------------------

## **Split Data**

*Split dataset into train and validation(testing) dataset*

In [13]:
sample <- initial_split(train_df, prop = 0.80, strata = Survived)
training_df <- training(sample)
testing_df <- testing(sample)

In [14]:
train_shape <- dim(training_df)
cat("Training_df shape:\n")
cat("\tNrow:", as.character(train_shape[1]), "\n")
cat("\tNcolumns:", as.character(train_shape[2]))

Training_df shape:
	Nrow: 712
	Ncolumns: 12

In [15]:
test_shape <- dim(testing_df)
cat("Testing_df shape:\n")
cat("\tNrow:", as.character(test_shape[1]), "\n")
cat("\tNcolumns:", as.character(test_shape[2]))

Testing_df shape:
	Nrow: 179
	Ncolumns: 12

## **Data Cleaning**

### **Checking For Missing Value(NaN)<br>And Cleaning**

In [16]:
check_missing_values <- function(data) {
    # Check for Missing values in the dataframe
    # :param data: To check missing values
    # :return data.frame: A dataframe each column with
    # it's percent and count of missing values

    # Get the total number of missing value by each column
    total_of_missing <- colSums(is.na(data))

    # Get the data shape
    data_dim <- dim(data)

    # Calculating the percentage of missing values
    percent <- round(total_of_missing / data_dim[[1]] * 100, 3)

    # Construct a data frame for missing values
    missing_values_df <- data.frame(total_of_missing, percent)

    return(missing_values_df)
}

In [17]:
# Missing value check in training data
check_missing_values(training_df)

            total_of_missing percent
PassengerId   0               0.000
Survived      0               0.000
Pclass        0               0.000
Name          0               0.000
Sex           0               0.000
Age         143              20.084
SibSp         0               0.000
Parch         0               0.000
Ticket        0               0.000
Fare          0               0.000
Cabin       549              77.107
Embarked      1               0.140

In [18]:
training_imputed_df <- mice(training_df)
training_imputed_df <- complete(imp)

 iter imp variable
  1   1  Age
  1   2  Age
  1   3  Age
  1   4  Age
  1   5  Age
  2   1  Age
  2   2  Age
  2   3  Age
  2   4  Age
  2   5  Age
  3   1  Age
  3   2  Age
  3   3  Age
  3   4  Age
  3   5  Age
  4   1  Age
  4   2  Age
  4   3  Age
  4   4  Age
  4   5  Age
  5   1  Age
  5   2  Age
  5   3  Age
  5   4  Age
  5   5  Age

Warning message:
"Number of logged events: 5"

ERROR: Error in complete(imp): object 'imp' not found

In [ ]:
check_missing_values()

In [ ]:
# Missing value check in testing data
check_missing_values(testing_df)

In [ ]:
# Missing value check in test data
check_missing_values(test_df)